@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.favorites {
  padding-top: 50px;
  padding-bottom: 110px;
  box-sizing: border-box;
  min-height: calc(100vh - 222px - 325px); // 222px - header height, 325px - footer height

  .container {
    .favorites__title {
      @include header-lora-36;
      color: $color-primary;
      margin-bottom: 35px;
    }

    .favorites__empty {
      margin-top: 20px;
      margin-bottom: 100px;

      div {
        font-size: 16px;
      }

      .button {
        width: 255px;
        margin-top: 10px;
      }
    }

    .favorites__products div {
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid $color-secondary-04;

      &:first-child {
        padding-top: 0;
        margin-top: 0;
        border-top: 0;
      }
    }
  }
}
