<div class="favorites">
  <div class="container">
    <div class="favorites__title">Избранное</div>
    <div class="favorites__empty" *ngIf="products && !products.length">
      <div>Вы ещё ничего не добавили в избранное</div>
      <button class="button" routerLink="/catalog">Перейти в каталог</button>
    </div>
    <div class="favorites__products" *ngIf="products && products.length">
      <div *ngFor="let product of products">
        <favorites-product [product]="product"></favorites-product>
      </div>
    </div>
  </div>
</div>
