@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.favorites {
  padding-top: 50px;
  padding-bottom: 110px;

  .container {
    .favorites__title {
      @include header-lora-36;
      color: $color-primary;
      margin-bottom: 35px;
    }

    .favorites__empty {
      margin-top: 20px;
      margin-bottom: 100px;

      div {
        font-size: 16px;
      }

      .button {
        width: 255px;
        margin-top: 10px;
      }
    }

    .favorites__products {
      .favorites__product {
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid $color-secondary-04;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-child {
          padding-top: 0;
          margin-top: 0;
          border-top: 0;
        }

        .favorites__product-image {
          width: 100px;
          height: 100px;
          background-position: center;
          background-size: cover;
          border-radius: 5px;
        }

        .favorites__product-name {
          margin-left: 24px;
          width: 567px;
          font-size: 20px;
          color: $color-text-secondary;
        }

        .favorites__product-price {
          margin-left: 20px;
          margin-right: 193px;
          width: 100px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          color: $color-text-secondary;
        }

        .favorites__product-action button {
          width: 160px;
        }

        .favorites__product-remove {
          margin-left: 61px;
          cursor: pointer;

          &:hover svg line {
            stroke: $color-button-hover;
          }
        }
      }
    }
  }
}
