@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.favorites {
  padding-top: 50px;
  padding-bottom: 110px;

  .container {
    .favorites__title {
      margin-bottom: 35px;

      @include header-lora-36;
      color: $color-primary;
    }

    .favorites__empty {
      margin-top: 20px;
      margin-bottom: 100px;

      div {
        font-size: 16px;
      }

      .button {
        margin-top: 10px;
        width: 255px;
      }
    }

    .favorites__products div {
      margin-top: 15px;
      padding-top: 15px;

      border-top: 1px solid $color-secondary-04;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .favorites {
    padding-top: 30px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 767px) {
  .favorites {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}
