@import "../../../../assets/styles/variables";

.count-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 28px;

    &:first-child {
      width: 12px;
    }

    &:hover path {
      fill: $color-primary-light;
    }
  }
}
