@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/data-form";

.order {
  padding-top: 86px;
  padding-bottom: 107px;

  .container {
    .order__title {
      @include header-lora-32;
    }

    .order__info {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }

    .order__details {
      width: 422px;

      .order__details-info {
        background: $color-secondary-04;
        border-radius: 5px;
        padding: 40px;
        margin-bottom: 14px;

        .order__details-info-title {
          font-family: 'Lora', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          color: $color-primary;
          margin-bottom: 20px;
        }

        .order__details-info-item {
          display: flex;
          align-items: center;
          color: $color-text-secondary;
          margin-bottom: 10px;

          .order__detail-info-item-text {
            font-size: 16px;
            color: $color-text-secondary;
            margin-right: 12px;
          }

          .order__detail-info-item-data {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: $color-text-secondary;
          }

          &:last-child {
            margin-bottom: 0;

            .order__detail-info-item-text,
            order__detail-info-item-data {
              font-weight: 600;
            }
          }
        }
      }

      .button {
        width: 100%;
      }
    }
  }
}

.order__popup {
  padding: 100px 70px 219px;
  position: relative;
  text-align: center;
  color: $color-primary;
  background: url('../../../../assets/images/page/popup-bckgrnd.png') bottom center no-repeat;

  .order__popup-close {
    position: absolute;
    top: 32px;
    right: 31px;
    cursor: pointer;

    &:hover svg line {
      stroke: $color-button-hover;
    }
  }

  .order__popup-title {
    @include header-lora-32;
    margin-bottom: 40px;
  }

  .order__popup-content div {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
