@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/personal";

.orders {
  padding-top: 50px;
  padding-bottom: 156px;

  .container {
    font-size: 16px;

    .orders__title {
      margin-bottom: 14px;

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      color: $color-text-secondary;
    }

    .orders__title-additional {
      margin-bottom: 67px;

      color: $color-text-secondary;
    }

    .orders__orders-is-empty-info {
      margin-top: 20px;
      margin-bottom: 100px;

      div {
        font-size: 16px;
      }

      .button {
        margin-top: 10px;
        width: 255px;
      }
    }

    .orders__list {
      .orders__list-item {
        margin-bottom: 47px;
        padding-bottom: 46px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid $color-secondary-04;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0;
        }

        .orders__list-item-number {
          margin-right: 20px;
          width: 297px;

          font-size: 20px;
          text-decoration-line: underline;
          color: $color-blackish;
        }

        .orders__list-item-products {
          margin-right: 20px;
          width: 509px;

          color: $color-text-gray;

          .orders__list-item-products-count {
            margin-bottom: 12px;
          }

          .orders__list-item-products-list {
            .orders__list-item-products-list-row {
              margin-bottom: 3px;
              padding-left: 8px;
              display: flex;
              align-items: baseline;
              gap: 10px;

              &:last-child {
                margin-bottom: 0;
              }

              div:first-child {
                font-weight: 500;
              }

              div:nth-child(2) {
                width: 211px;
              }

              div:last-child {
                min-width: 50px;

                text-align: right;
              }
            }
          }
        }

        .orders__list-item-status {
          padding: 8px 24px;
          border-radius: 50px;
          border: 1px solid $color-button-default;
          box-sizing: border-box;

          text-align: center;
          color: $color-button-default;

          background-color: transparent;
        }

        .orders__list-item-price {
          width: 186px;

          text-align: right;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          color: $color-text-secondary;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .orders {
    padding-top: 40px;
    padding-bottom: 98px;

    .container {
      .orders__list {
        .orders__list-item {
          display: grid;
          grid-template-areas:
                    "number ."
                    "products products"
                    "status price";
          grid-template-columns: 115px 1fr;
          gap: 15px;

          .orders__list-item-number {
            margin-right: 0;
            max-width: 115px;
            grid-area: number;
          }

          .orders__list-item-products {
            margin-right: 0;
            width: 100%;
            grid-area: products;

            .orders__list-item-products-list {
              .orders__list-item-products-list-row {
                div:nth-child(2) {
                  width: unset;
                  flex-grow: 1;
                }
              }
            }
          }

          .orders__list-item-status {
            padding: 8px 0;
            width: 115px;
            grid-area: status;
          }

          .orders__list-item-price {
            width: auto;
            grid-area: price;
          }
        }
      }
    }
  }
}
