html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $color-input-default;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $color-primary;

  &::placeholder {
    color: #A8ABA7;
  }
}

.small-input {
  border: 1px solid $color-input-default;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  width: 40px;
  height: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $color-primary;
}

.input, .small-input {
  &:hover,
  &:focus,
  &:active {
    border-color: $color-input-action;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input [type=number] {
  -moz-appearance: textfield;
}

.button {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: $color-button-default;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-white;

  &:hover {
    background-color: $color-button-hover;
  }

  &:active {
    background-color: $color-button-pressed;
  }

  &:disabled {
    background-color: $color-button-disabled;
    cursor: not-allowed;
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-mdc-menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $color-text-secondary;
  }
}
