html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid #2A592E;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $color-primary;

  &::placeholder {
    color: #A8ABA7;
  }
}

.button {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: $color-button-default;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-secondary-05;

  &:disabled {
    background-color: $color-button-disabled;
    cursor: not-allowed;
  }
}

.mat-mdc-menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $color-text-primary;
  }
}
