$container-width: 1240px;

//colors
$color-mistake: #DE1818;
$color-success: #44B050;
$color-primary: #202B21;
$color-primary-light: #519157;
$color-secondary-01: #2A592E;
$color-secondary-02: #6CAC72;
$color-secondary-03: #B6D5B9;
$color-secondary-04: #E7F1E8;
$color-secondary-05: #FFFFFF;

$color-text-footer: #2C2C2C;

$color-effect-dark: #202B21;
$color-effect-light: #49824F;
