@import "../../../../assets/styles/variables";

header.header {
  padding: 30px 0 49px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .header__top {
      padding-top: 32px;
      padding-bottom: 25px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #C5C5C5;
      font-weight: 500;

      .header__top-menu {
        margin-left: 26px;
        margin-right: 191px;

        nav ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            margin-right: 40px;
            list-style: none;
            border-bottom: 1px solid transparent;

            &.active {
              border-bottom-color: $color-primary;
            }

            a {
              font-size: 16px;
              color: $color-primary;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }

      .header__top-phone {
        font-size: 16px;
        color: $color-primary;
        margin-right: 59px;
        text-decoration: none;
      }

      .header__top-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          position: relative;
          margin-right: 8px;
          cursor: pointer;

          &:last-child {
            margin-right: 18px;
          }

          span {
            position: absolute;
            font-weight: 400;
            font-size: 9px;
            color: $color-primary;
            background-color: #B6D5B9;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            top: 10px;
            right: -18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .header__bottom {
      padding-top: 16px;
      display: flex;
      align-items: center;

      .header__bottom-menu {
        margin-left: 26px;
        margin-right: 97px;

        nav ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            margin-right: 50px;
            list-style: none;
            border-bottom: 1px solid transparent;

            &.active {
              border-bottom-color: $color-primary;
            }

            a {
              font-size: 16px;
              color: $color-primary;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }

      .header__bottom-search {
        position: relative;

        input {
          border: 1px solid $color-primary;
          border-radius: 30px;
          padding: 10px 10px 10px 43px;
          font-size: 16px;
          color: $color-primary;
          width: 214px;
          height: 41px;
          box-sizing: border-box;
          outline: none;
        }

        &:after {
          position: absolute;
          content: "";
          background-image: url("../../../../assets/images/icons/search.png");
          background-size: cover;
          width: 16px;
          height: 16px;
          left: 15px;
          top: 11px;
        }

        .search-result {
          position: absolute;
          z-index: 5;
          right: 0;
          top: 61px;
          width: 400px;
          border: 1px solid $color-gray;
          border-radius: 5px;
          background-color: $color-white;

          .search-result__item {
            display: flex;
            align-items: center;
            gap: 25px;
            padding: 12px 23px;
            cursor: pointer;
            color: $color-text-dark-gray;

            &:first-child {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }

            &:last-child {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }

            &:hover {
              background-color: $color-gray;
              color: $color-black;
            }

            .search-result__item-image {
              width: 40px;
              height: 40px;
              border-radius: 5px;
              background-size: cover;
              background-position: center;
            }

            .search-result__item-name {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
